/* Reader Main Page (right)*/
main { 
    // Day Categor
    .day {
        @include sectionDay;
    }
    // Article items
    .flux {
        z-index:$layerContent;
        // Article: Website
       .item.website .websiteName {
                font-size: $fontLevel4;
                font-weight:lighter;
        };
        //List Entry 
        &:not(.not_read):not(.current){
            //=>  Read ,Non-current Entry
            @include fontEntryTitle;
            background:rgba($Apricot_yellow,0.05);
            //:HOVER
            &:hover{
                background:rgba($Apricot_yellow,0.1);
            };

            // Article: Title
            .item.title {
                //:HOVER
                &:hover {
                    background:rgba($Antler_Brown,0.1);
                };
            };
            color:grey;
        };
        &.not_read, &.current {
            //=>  UnRead ,current Entry
            // Article Content Page
            .item.title {
                // Article: Title
                @include fontEntryTitle;
            };
            .content {
                // Article: Content
//                @include styleContent;
                div[data-sanitized-class="pic-row"] {
                    //text-align:center;
                    img {
                        //
                        border:2px solid #aaa;
                        border-radius:4px;
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        &:hover {
                        };
                    };
                };
            };
            
        };
        &:not(.current):hover {
            //=>  Not-current under hover
            background:rgba($Firefly_Purple,0.1);
            // WA to avoid the shrink of row while hovering there.
            .item.title {
                max-width: calc(100% - 320px);
                position: relative;
            }

        };
    };
};


.day .name {
    @include styleSectionInfo;
};




#bigMarkAsRead {
    background: rgba($Cloisonne,0.2);  
    padding: 10px 0 0px 0;
    margin-top:20px;
    font-size: $fontLevel3;
    &:hover {
        background: rgba($Cloisonne,0.4);  
        color:white;
    }
    &.as-link{
        color:$mink_gray;
        &:hover {
            color:white;
        }
    }
 
    .bigTick {
        font-size: $fontLevel4;
    }
    
    .jumpNext, .markAllRead {
        display:none;
    }
};


#stream-footer {
    height:100px;
};
