
.nav_menu {
    background:$Nav_blue;
    position:sticky;
    top:0;
    width:100%;
    z-index:1000;
    .btn {
        &:hover {
            opacity:0.8;
            background:rgba($Cloisonne,0.2);
        }
    }
}
